
:root {
  --white: #fff;
  --black: #121417;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--white);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

input {
  border: none;
  outline: none;
  background-color: transparent;
  box-shadow: none;
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
}


/* Mobile screen */
.container {
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
  max-width: 375px;
}

/* Tablet screen */
@media screen and (min-width: 768px) {
  .container {
    padding-right: 32px;
    padding-left: 32px;
    max-width: 768px;
  }
}

/* Desktop screen */
@media screen and (min-width: 1440px) {
  .container {
    padding-right: 24px;
    padding-left: 24px;
    max-width: 1440px;
  }
}
